.logo {
    align-items: flex-start;
}

li{
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    padding: 5%;
    margin-top: 0%;
}

.navigationText {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    justify-content:flex-end;
    align-content: flex-end;
}

.heroimg {
    display: flex;
    height: 600px; 
    justify-content: flex-start;
    padding-left: 10px;
}

.content {
    width: 500px;
    padding: 60px;
}

.name{
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
}

.title{
font-size: x-large;
font-family: Arial, Helvetica, sans-serif;
color: black;
font-style: italic;
}

.aboutMe{
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

button{
    margin: 1%;
}

footer {
    background-color: #373738;
}

.footerLinks{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: medium;
    display: flex;
    justify-content: center;
    padding: 40px;
}